<div class="filter-container">
    <aside class="filter-panel">
      <h4>Launch Year</h4>
      <div class="year-grid">
        <button *ngFor="let year of years" (click)="applyFilters({ year })">
          {{ year }}
        </button>
      </div>

      <h4>Successful Launch</h4>
      <div class="toggle-group">
        <button (click)="applyFilters({ launchSuccess: true })">True</button>
        <button (click)="applyFilters({ launchSuccess: false })">False</button>
      </div>

      <h4>Successful Landing</h4>
      <div class="toggle-group">
        <button (click)="applyFilters({ landSuccess: true })">True</button>
        <button (click)="applyFilters({ landSuccess: false })">False</button>
      </div>

      <h4>Reset</h4>
     <button (click)="resetFilters()">Reset Filters</button>

    </aside>

    <section class="filtered-missions">
      <div class="mission-card" *ngFor="let mission of missions">
        <img [src]="mission.links.mission_patch_small" alt="Patch" />
        <h5>{{ mission.mission_name }}</h5>
        <p>Year: {{ mission.launch_year }}</p>
      </div>
    </section>

  </div>
